@import "tailwindcss";

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-dmSans {
  font-family: 'DM Sans', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}